body {
  margin: 8px auto;
  max-width: 800px;
}

div[title="header"] {
  display: none;
}

p img {
  border-radius: 50%;
}

@font-face {
    font-family: 'Chalkduster';
    font-style: normal;
    font-weight: 400;
    src: url('webfonts_Chalkduster/Chalkduster.eot'); /* IE9 Compat Modes */
    src: local('Chalkduster Regular'),
         url('webfonts_Chalkduster/Chalkduster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfonts_Chalkduster/Chalkduster.woff2') format('woff2'), /* Super Modern Browsers */
         url('webfonts_Chalkduster/Chalkduster.woff') format('woff'), /* Modern Browsers */
         url('webfonts_Chalkduster/Chalkduster.ttf') format('truetype'), /* Safari, Android, iOS */
         url('webfonts_Chalkduster/Chalkduster.svg#Chalkduster') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin_latin-ext */
@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 400;
  src: url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin_latin-ext */
@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 700;
  src: url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-v15-latin_latin-ext/open-sans-v15-latin_latin-ext-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
